<h1><%= @student.to_s, student_path(student) %></h1>
<!-- <p>This student is currently inactive.</p> -->



<!-- <div><%= @student.active %></div> -->

<!-- <% if @student.active %>
  <p>This student is currently active.</p>
<% end %> -->
